services:
  app:
    build: .
    container_name: laravel-app
    restart: always
    tty: true 
    
    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    environment:
      # --- Config Tunnel ---
      - TUNNEL_NAME=gcp-laravel
      - APP_DOMAIN=app.domainkamu.com
      
      # --- Config Laravel (Override isi .env) ---
      # Kita set disini supaya settingan di .env.example tertimpa
      # dengan settingan yang benar untuk Docker -> Host connection
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_URL=https://app.domainkamu.com
      
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal  <-- INI KUNCINYA
      - DB_PORT=3306
      - DB_DATABASE=laravel
      - DB_USERNAME=sail
      - DB_PASSWORD=password
      
    volumes:
      # Volume Cloudflare (wajib biar gak login ulang)
      - cf_data:/etc/cloudflared
      
      # Opsi A: Jika mau .env nya persisten (disimpan di host)
      # Uncomment baris bawah ini jika ingin file .env yg digenerate muncul di folder host
      # - ./:/app

volumes:
  cf_data: