services:
  app:
    build: .
    container_name: gesay-cashflow-app
    restart: always
    tty: true 
    
    extra_hosts:
      - "host.docker.internal:host-gateway"
      
    environment:
      # --- Config Tunnel ---
      - TUNNEL_NAME=gesay-cashflow-app
      - APP_DOMAIN=cashflow.gesay.my.id
      
      # --- Config Laravel (Override isi .env) ---
      # Kita set disini supaya settingan di .env.example tertimpa
      # dengan settingan yang benar untuk Docker -> Host connection
      - APP_ENV=production
      - APP_DEBUG=false
      - APP_URL=https://cashflow.gesay.my.id
      
      - DB_CONNECTION=mysql
      - DB_HOST=host.docker.internal  <-- INI KUNCINYA
      - DB_PORT=3306
      - DB_DATABASE=cashflow
      - DB_USERNAME=root
      - DB_PASSWORD=rayyannur555
      
    volumes:
      # Volume Cloudflare (wajib biar gak login ulang)
      - cf_data:/etc/cloudflared
      
      # Opsi A: Jika mau .env nya persisten (disimpan di host)
      # Uncomment baris bawah ini jika ingin file .env yg digenerate muncul di folder host
      # - ./:/app

volumes:
  cf_data: